.App {
}
.code-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding : 32px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:40%;
  overflow: auto;

}
.row {
  white-space: nowrap;
  width: 100%;
}
.row:hover {
  background-color: aquamarine;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}